<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Restaurant Ranker</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		 <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		  <script src="//code.jquery.com/jquery.js"></script>
		  <script src="../script.js"></script>

	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Rank-a-Restaurant</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/login">Login</a></li>
							<li><a href="/logout">Logout</a></li>
							<li><a href="/register" class="button special">Register</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>The future of Dining has landed</h2>
							<p>There are no more star ratings<br />
							Just real time ranking. Showing the love and hate</p>
						</header>
						<span class="image"><img src="images/test.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/explore.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<form class="form" method="get" action="/results">
										<h3>Search by City or ZipCode </h3>
											<input type="text" class="form-control" placeholder="Enter City or ZipCode" name="searchTerm">
											<br><br>
											<input type="submit" value="Search" class="btn btn-primary">
									</form>
								</div>
								<div class="4u 12u$(medium)">
									<form class="form" method="get" action="/resultsName">
										<h3>Search Restaurant Name </h3>
											<input type="text" class="form-control" placeholder="Enter Restaurant" name="searchName">
											<input type="text" class="form-control" placeholder="Enter City" name="searchLocation">
											<br><br>
											<input type="submit" value="Search" class="btn btn-primary">
									</form>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Find the rankings of nearby restaurants by searching either in a specific city or zipcode, or search by your favorites restaurants name and city. </p>
									<p> Be sure to tell your friends to rank their favorites restaurants too!</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/share.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>A Real-Time Experience</h2>
							<p>Share with everyone your overall experience!</p>
						</header>
						<p>Seeing a five star ranking only means so much. Share and view the experience of other patrons during or prior to choosing a restaurant. See the ups and downs of the evening so you know what to expect!</p>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/overlay.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Managers, discover areas to improve upon!</h2>
							<p>Get the big picture of your wait staff with a real-time dashboard!</p>
						</header>
						<p>Your waitstaff has a lot going on in any given evening. Discover areas to improve on at a glance! Is it the greeting, or first bite that patrons rank you lower on? Improve the experience at your restaurant today!</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					
				</section>

			

		

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>