<h1>Homepage </h1>
<h3>Hello, <%= cleanUser.username%>!</h3>

<form class="form" method="get" action="/results">
<h3>Search by City </h3>
	<input type="text" class="form-control" placeholder="Enter City" name="searchTerm">
	<br><br>
	<input type="submit" value="Search" class="btn btn-primary">
</form>