

.fun {
	height: 150px;
	width: 250px;
	margin: 30px;
	
	text-align: center;
}

#score {
	font-size: 150px;
	margin-top: - 50px;

}



.logo {
	height: 200px;
	width: 200px;
	border-radius: 150px;
	margin-right: 20px;
	margin-bottom: 10px;

}

.score-border {
	text-align: center;
	
}



.hate {
	height: 50px;
	width: 50px;
}

.love {
	height: 50px;
	width: 50px;
}

.rank {
	position: relative;
	top: -120px;
}
 
 .btn-sm {
 	margin: 5px;

 }

#show_hate  {
	font-size: 5em;
}


 .comments {
 	border: 1px solid white;
 	margin: 10px;
 	display: block;
 	width: auto;

 }

 .commentscenter {
 	margin-left: 32%;
 }



