
<div class="col-sm-8">
	<img src="<%= data.image_url %>"> 
	<a href="/score/<%= data.id %>" class="btn btn-primary">Rank Me!</a>
	<h1><%= data.name %></h1>
	<br>
</div>

<div class="col-sm-4">
	<h3>Score: 1</h3>

</div>