<h1>Score a restuarant here</h1>

<button type="button" class=" btn btn-primary glyphicon glyphicon-arrow-up"></button>
	<br>
	<button type="button" class=" btn btn-danger glyphicon glyphicon-arrow-down"></button>

	<form> 
		<label>Add a Comment</label>
		<br>
		<textarea type="text"></textarea>
		<input type="submit" class="btn btn-warning">
	</form>